In [1]:
from pymongo import MongoClient

In [ ]:
mongoimport --db atrium_anna --collection restaurants --file /Users/annamatacortada/Downloads/2-NoSQL/restaurants.json

In [10]:
import json

# Load the JSON data
with open('/Users/annamatacortada/Downloads/2-NoSQL/restaurants.json', 'r') as file:
    data = json.load(file)  # Use 'file' instead of 'restaurants.json'

# Check the data type
if isinstance(data, dict):
    print("The file contains a JSON object.")
elif isinstance(data, list):
    print("The file contains a JSON array.")
else:
    print("Unexpected data type in JSON file.")

JSONDecodeError: Extra data: line 2 column 1 (char 544)

In [3]:
# Connect to MongoDB
client = MongoClient('localhost', 27017)

# Create a Database and Collection
db = client['atrium_anna']
collection = db['restaurants']

# Insert Data from a JSON file
with open('/Users/annamatacortada/Downloads/2-NoSQL/restaurants.json', 'r') as file:
    data = json.load(file)

# If the file contains a JSON array
if isinstance(data, list):
    collection.insert_many(data)

JSONDecodeError: Extra data: line 2 column 1 (char 544)

In [ ]:
1. Write a MongoDB query to display all the documents in the collection
restaurants.

In [ ]:
2. Write a MongoDB query to display the fields restaurant_id, name,
borough and cuisine for all the documents in the collection restaurant.

In [ ]:
3. Write a MongoDB query to display the fields restaurant_id, name,
borough and cuisine, but exclude the field _id for all the documents in the
collection restaurant.

In [ ]:
4. Write a MongoDB query to display the fields restaurant_id, name,
borough and zip code, but exclude the field _id for all the documents in
the collection restaurant.

In [ ]:
5. Write a MongoDB query to display all the restaurant which is in the
borough Bronx.

In [ ]:
6. Write a MongoDB query to display the first 5 restaurant which is in the
borough Bronx.

In [ ]:
7.Write a MongoDB query to display the next 5 restaurants after skipping
first 5 which are in the borough Bronx.

In [ ]:
8. Write a MongoDB query to find the restaurants who achieved a score
more than 90.

In [ ]:
9. Write a MongoDB query to find the restaurants that achieved a score,
more than 80 but less than 100.

In [ ]:
10. Write a MongoDB query to find the restaurants which locate in latitude
value less than -95.754168.

In [ ]:
11. Write a MongoDB query to find the restaurants that do not prepare
any cuisine of 'American' and their grade score more than 70 and latitude
less than -65.754168.

In [ ]:
12. Write a MongoDB query to find the restaurants which do not prepare
any cuisine of 'American' and achieved a score more than 70 and located
in the longitude less than -65.754168.
Note : Do this query without using $and operator.

In [ ]:
13. Write a MongoDB query to find the restaurants which do not prepare
any cuisine of 'American ' and achieved a grade point 'A' not belongs to
the borough Brooklyn. The document must be displayed according to the
cuisine in descending order.

In [ ]:
14. Write a MongoDB query to find the restaurant Id, name, borough and
cuisine for those restaurants which contain 'Wil' as first three letters for its
name.

In [ ]:
15. Write a MongoDB query to find the restaurant Id, name, borough and
cuisine for those restaurants which contain 'ces' as last three letters for its
name.

In [ ]:
16. Write a MongoDB query to find the restaurant Id, name, borough and
cuisine for those restaurants which contain 'Reg' as three letters
somewhere in its name.

In [ ]:
17. Write a MongoDB query to find the restaurants which belong to the
borough Bronx and prepared either American or Chinese dish.

In [ ]:
18. Write a MongoDB query to find the restaurant Id, name, borough and
cuisine for those restaurants which belong to the borough Staten Island or
Queens or Bronxor Brooklyn.

In [ ]:
19. Write a MongoDB query to find the restaurant Id, name, borough and
cuisine for those restaurants which are not belonging to the borough
Staten Island or Queens or Bronxor Brooklyn.

In [ ]:
20. Write a MongoDB query to find the restaurant Id, name, borough and
cuisine for those restaurants which achieved a score which is not more
than 10.

In [ ]:
21. Write a MongoDB query to find the restaurant Id, name, borough and
cuisine for those restaurants which prepared dish except 'American' and
'Chinees' or restaurant's name begins with letter 'Wil'.

In [ ]:
22. Write a MongoDB query to find the restaurant Id, name, and grades
for those restaurants which achieved a grade of "A" and scored 11 on an
ISODate "2014-08-11T00:00:00Z" among many of survey dates..

In [ ]:
23. Write a MongoDB query to find the restaurant Id, name and grades for
those restaurants where the 2nd element of grades array contains a
grade of "A" and score 9 on an ISODate "2014-08-11T00:00:00Z".

In [ ]:
24. Write a MongoDB query to find the restaurant Id, name, address and
geographical location for those restaurants where 2nd element of coord
array contains a value which is more than 42 and upto 52..

In [ ]:
25. Write a MongoDB query to arrange the name of the restaurants in
ascending order along with all the columns.

In [ ]:
26. Write a MongoDB query to arrange the name of the restaurants in
descending along with all the columns.

In [ ]:
27. Write a MongoDB query to arranged the name of the cuisine in
ascending order and for that same cuisine borough should be in
descending order.

In [ ]:
28. Write a MongoDB query to know whether all the addresses contains
the street or not.

In [ ]:
29. Write a MongoDB query which will select all documents in the
restaurants collection where the coord field value is Double.

In [ ]:
30. Write a MongoDB query which will select the restaurant Id, name and
grades for those restaurants which returns 0 as a remainder after dividing
the score by 7.

In [ ]:
31. Write a MongoDB query to find the restaurant name, borough,
longitude and attitude and cuisine for those restaurants which contains
'mon' as three letters somewhere in its name.

In [ ]:
32. Write a MongoDB query to find the restaurant name, borough,
longitude and latitude and cuisine for those restaurants which contain
'Mad' as first three letters of its name.